/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Alegreya+Sans|Fira+Sans');

// fonts
$base-font: 'Dosis';
$heading-font: 'Fira Sans', 'Alegreya Sans';

$base-font-size: 19;

// color
$dark-gray: #6e6e6e;
$lighter-gray: #f9f9f9;
$gray3: #767878;
$white: #fff;
$black: #000;
$green: #5e9a6d;

$theme-primary-color: $green;
$body-bg-color: $white;
$section-bg-color: $lighter-gray;
$text-color: $gray3;
$heading-color: $dark-gray;